.box-row {
    margin-bottom: 40px;
}
.cc-selector-2 {
    border: #b9b6b6 2px solid;
}
.title {
    margin-bottom: 20px;
}
.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cc-selector-2 input {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 30px;
}
.visa {
    background-image: url(http://i.imgur.com/lXzJ1eB.png);
}
.mastercard {
    background-image: url(http://i.imgur.com/SJbRQF7.png (13kB));
}
.cc-selector-2 input:active +.drinkcard-cc,
.cc-selector input:active +.drinkcard-cc {
    opacity: .9;
}
.cc-selector-2 input:checked +.drinkcard-cc,
.cc-selector input:checked +.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.drinkcard-cc {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    min-height: 212px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(0.9) grayscale(1) opacity(0.9);
}
.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.result-box {
    margin-bottom: 40px;
    margin-top: 40px;
    display: inline-block;
    border: #ccc solid 2px;
    width: 100%;
    padding: 10px;
}
input[type=radio] {
    width: 20px;
    height: 20px;
}
